.container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 4;
}

.img {
    margin: auto;
    display: block;
    background-image: url("../../../public/loading.svg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}