.container {
    margin: 16px 30px;
}

.fullWidthHeader {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
}

.normalHeader {
    height: max-content;
    font-size: 12px;
    margin: auto;
    position: static;
}

.headerContainer {
    width: 100%;
    margin: 10px auto;
}

.emptyList {
    display: none;
}

.filledList {
    display: block;
}




