.container {
    width: 80%;
    margin: 16px auto;
}

.fullWidthHeader {
    position: fixed;
    width: 80%;
    height: 100%;
    margin: auto;
    top: 0;
    left: auto;
    z-index: 1;
}

.normalHeader {
    height: max-content;
    font-size: 12px;
    margin: auto;
    position: static;
}

.headerContainer {
    margin: 20px auto;
}

.emptyList {
    display: none;
}

.filledList {
    display: block;
}




